.pokeinfo{
  border-radius: 10px;
  width: 150px;
  font-weight: bold;
  color: black;
  background-color: whitesmoke;
  padding: 4px;
  text-align: center;
  border: solid black 1px;
}
.pokebox{
  border:2px;
  margin-left: auto;
  margin-right: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#poke1{
  margin-top: 200px;
  margin-left: 80px;

}

#poke2{
  width: 150px;
  margin-top: 120px;
  margin-left: 350px;
}

img{
  animation: move 1s linear infinite;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}
