<div class="pokebox d-flex">
  <div id="poke1">
    <ng-template [ngIf]="pokemonOne.hp >0">
      <img class="center" src="{{pokemonOne.spriteBack}}" alt="{{pokemonOne.name}}"/>
    </ng-template>
    <div class="pokeinfo">
      <p class="name">{{pokemonOne.name.toUpperCase()}}</p>
      <progress class="center" max="{{pokemonOneBaseHp}}" value="{{pokemonOne.hp}}"> {{pokemonOne.hp}}PV
      </progress>
      <p>{{pokemonOne.hp.toFixed(2)}}/{{pokemonOneBaseHp}} PV</p>
    </div>
  </div>
  <div id="poke2">
    <ng-template [ngIf]="pokemonTwo.hp >0">
      <img class="center" src="{{pokemonTwo.spriteFront}}" alt="{{pokemonTwo.name}}"/>
    </ng-template>
    <div class="pokeinfo">
      <p class="name">{{pokemonTwo.name.toUpperCase()}}</p>
      <progress class="center" max="{{pokemonTwoBaseHP}}" value="{{pokemonTwo.hp}}"> {{pokemonTwo.hp}}PV
      </progress>
      <p>{{pokemonTwo.hp.toFixed(2)}}/{{pokemonTwoBaseHP}} PV</p>
    </div>
  </div>

</div>
